<h3><%=  link_to @user.name, root_path %></h3></br>

<%= link_to 'Followings一覧', followings_user_path(@user) %>
<%= '　　　　　 ' %>
<%= link_to '✿ Followers一覧へ', followers_user_path(@user) %>
<% @followings.each do |user| %><br><br>
  <%= link_to gravatar_for(user, size: 50), user_path(user) %></br>
  <%= link_to user.name ,  user_path(user) %><br>

<% end %>
